# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Binaries
*.exe

# Ansible
*.retry

# OS
.DS_Store
Thumbs.db
