[defaults]
roles_path           = ./roles
collections_paths    = ./collections
stdout_callback      = yaml
gathering            = explicit
interpreter_python   = ~/.venv/ansible/bin/python
deprecation_warnings = false

[ssh_connection]
pipelining = true
